/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Russo+One&display=swap");

* > * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to right top, rgb(13, 13, 44), #257de2);
	overflow-x: hidden;
}

main{
	background: rgba(13, 5, 37, 0.1);
	box-shadow: 1px 1px 30px 10px rgba(12, 6, 22, 0.2) inset,
		-50px -50px 100px 51px rgba(18, 6, 49, 0.1) inset,
		50px 50px 100px 50px rgba(15, 5, 34, 0.2) inset;
	background: url(https://firebasestorage.googleapis.com/v0/b/chartataglance.appspot.com/o/feb22.png?alt=media&token=0d6ceb20-d5f8-41ac-aaac-4442a15b47c3);
	background-position: right;
	z-index: -1;
}

.title a {
	font-family: "poppins", sans-serif;
	font-weight: 700;
	font-size: 1.7rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
	list-style: none;
	color: rgba(13, 13, 55, 0.5);
	text-shadow: -1px -1px 0px rgba(13, 13, 44, 0.5),
		2px 1px 1px rgba(255, 255, 255, 0.2);
}

.contacti ul {
	position: fixed;
	margin-top: 30vh;
	right: 10px;
}

.contacti li {
	list-style: none;
	margin-top: 20px;
}

.contacti i {
	color: rgb(208, 217, 228);
	font-size: 1.9rem;
	z-index: 130;
	cursor: pointer;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: transparent;
}

.logo {
	position: absolute;
	left: 10%;
	top: 5%;
	opacity: 0;
	width: 100px;
}

.logoshow {
	opacity: 1;
	transition: 2s ease-in-out;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
	position: absolute;
	right: 0px;
	height: 92vh;
	top: 5vh;
	flex-direction: column;
	align-items: left;
	transform: translate(100%);
	opacity: 0;
	
}
.nav-links li {
	list-style: none;
	z-index: 5;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 22px;
	-webkit-filter: contrast(2) invert(0) blur(10px);
	filter: contrast(2) invert(0) blur(0px);
	text-shadow: 1px 1px 5px rgba(7, 24, 26, 0.6),
		1px 1px 5px rgba(11, 29, 31, 0.4);
	color: #aaa9ad;
	font-weight: 600;
}

.burger {
	position: absolute;
	right: 10px;
	top: 20px;
	cursor: pointer;
}
.burger div {
	width: 35px;
	height: 5px;
	border-radius: 40px;
	background-color: rgb(15, 10, 82);
	margin: 5px;
	transition: all 0.3s ease;
	z-index: 5;
}

.nav-active {
	transform: translate(0%);
	opacity: 1;
}


@media screen and (min-width: 320px) {

	h1 {
			font-size: var(--fmd);
			color: rgb(166, 201, 189);
	}

	p {
			font-size: var(--fsm);
			color: aqua;
	}
}

@media screen and (min-width: 640px) {

	h1 {
			font-size: var(--flg);
			color: rgb(4, 0, 255);
	}

	p {
			font-size: var(--fmd);
			color: aqua;
	}

}

@media screen and (min-width: 768px) {

	h1 {
			font-size: var(--fxl);
			color: rgb(84, 62, 145);
	}

	p {
			font-size: var(--fmd);
			color: aqua;
	}

}

@media screen and (min-width: 1220px) {

	h1 {
			font-size: var(--fxxl);
			color: rgb(218, 55, 55);
	}

	p {
			font-size: var(--flg);
			color: aqua;
	}
}





@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translate(50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	transform: rotate(180deg) translate(-0px, -0px);
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

