

.tabs{
    border: 1px solid black;
    display: flex;
}

.tab__sidebar{
    width: 125px;
    flex-shrink: 0;
    background: rgb(20, 48, 48);

}
.tabs__button {
    display: block;
    
    padding: 10 px;
    background: rgb(177, 235, 235);
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
   
}
.tabs__button:active{
    background: red;
}
.tabs__button:not(:last-of-type){
    border-bottom: 1px solid black;
}
.tabs__button--active{
    font-weight: bold;
    border-right: 2px solid rgb(23, 0, 128);
    
}
.tab__content {
    padding: 15px;

    font-size: 0.8rem;
    display: none;


}
.tabs__content--active {
    display: block;

}



