
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --primary-color: #7f5cc2;
    --sec-color: hsl(124, 21%, 73%);
    --dark-color: aqua ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{

    background-color:var(--dark-color);
    font-family: 'poppins' , sans-serif;
    background-image: url("./chart.png");
    background-repeat: no-repeat;
    position: relative;
    height: 110%;
    
    background-position: left;
   
   
}


h1{
    font-size: 30px;
    color: var(--primary-color);
}
p{
    margin: 20px 0 10px;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.logo{
    position: relative;
    top: 30px;
    left: 120px;
    font-size: 4rem;
    font-weight: 500;
    color: rgb(110, 136, 81);
    z-index: 16;
   
    
}


/*toggle*/
.toggle{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background: url(./imgblur.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 25;
    
}

.toggle.active {
    background: var(--sec-color) url(./cross.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;

}


.btn{
    cursor: pointer;
    display: inline-block;
    background: red;
    color: var(--dark-color);
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0px;
    border-radius: 10px;
}
.btn:hover{
    transform: scale(0.9);
}

section {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;  
    flex-direction: column;
}
section.home {
    flex-direction: row;
}


.home-content {
    position: relative;
    z-index: 12;
    max-width: 600px;
}

.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}

.navigation{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--sec-color);
    opacity: 0.8;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./chart.png);
    background-position: center;
    background-repeat: no-repeat;
    


    
}
.navigation.active {
    left: 0;
}

.navigation ul {
    position: relative;

}
.navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
}
.navigation ul li {
    font-size: 2.2rem;
    color: #111;
    text-decoration: none;
    font-weight: 400;
}
.navigation .social-ba{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .email-icon{
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);
}
.navigation a:hover {
    color: red;
}

@media (max-width:1068px){
    .home-img{
        opacity: 0.5;
    }

    .logo{
        top: 10px;
        left: 40px;
        font-size: 1.5rem;

    }
    
    section {
        padding: 100px 40px;

    }
    .navigation ul li a {
        font-size: 2rem;
    }
    
    body{
    background-position: center;
   
}
}

