
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    
}
.btn-box{
    display: flex;
    
    

}

.btn-box button {
    background: transparent;
    border: 1px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 20px;
    margin-left: 100px;
}



.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
    position: absolute;
    
}

.content-left {
    flex-basis: 30%;
    text-align: left;
   
    
}
.content-left p  {
    font-size: 1.0rem;
    color: rgb(67, 59, 182);
    
    
}
.content-left a  {
    font-size: 1.5rem;
    width: 150px;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    background-color: #ff7846;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

    
}
.content-right {
    flex-basis: 55%;
    
}
.content-right img {
    height: 100%;
    width: 100%;
    box-shadow:20px 20px 50px 15px grey;
    
}

#content1 {
    transform: translateX(0);
} 
#btn1{
    color: #3caa20;
}
.chart-img{
    position: absolute;
  

}

@media (max-width:1068px){
    .btn-box{
        text-align: center;
        
    }
    .content{
        flex-direction: column;
    }
    .content-left p  {
        font-size: 0.8rem;
    }
    .content-right img {
       margin-top: 50px;
        box-shadow:none;
        
    }

    .btn-box button {
        cursor: pointer;
        padding: 1px 5px;
        margin-right: 10px;
        font-size: 1.2rem;
        font-weight: 20px;
        margin-left: 20px;
    }
    .content-left a {
        font-size: 1rem;
        width: 100px;
        margin-bottom: 10px;
        
    }
    .content-left p  {
        
        margin-top: 50px;
        
        
    }

}
